<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Tabela z książkami</title>
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
</head>
<body>
	<!-- 	<table >border="1" style="width: 300px"> -->
	<!-- <form th:action="@{/bookTable/del/}" th:object="${title}"  method="post"> -->
	<table>
	<tr>
	<th colspan="4" style="color:white">Books Table</th></tr>
		<tr>
			<th>Id</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Option</th>
		</tr>

		<tr th:each="book : ${books}">
			<td th:text="${book.id}" style="text-align: center">id</td>
			<td th:text="${book.title}">title</td>
			<td th:text="${book.authors}">authors</td>
			
<!-- 			<td style="text-align: center"> -->
<!-- 			<button> -->
<!-- 			<a th:href="@{/booksTable/del/{id}(id=${book.id})}"><span>Delete</span></a></button>  -->
<!-- 			</td> -->
			<td style="text-align: center">
				<form th:action="@{/booksTable}" th:object="${book}" method="post">
					<input type="hidden" name="id" th:value="${book.id}" /> 
					<input type="submit"  value="Delete" />
				</form>
			</td>

		</tr>
	</table>
	

</body>
</html>