<!DOCTYPE html>
<!-- <html ng-app="modalTest"> -->
<html>

<body>

<br>
	<section>
	  <form name="AddBookForm" novalidate >
		<div flash-message="5000"></div>
		<label>tutuł: </label>
		<input type="text" ng-model="book.title" ng-required = "true">
		<input type="hidden" ng-model="book.authors" id="authors">
<!-- 		<button class="btn btn-primary btn-sm" ng-click="saveBook(book)" ng-disabled="book.authors.length==0">SaveBook</button> -->
		<button class="btn btn-primary btn-sm" ng-click="saveBook(book)" ng-disabled="AddBookForm.$invalid">SaveBook</button>
		<p><b>Authors</b></p>
		 <table>
        <tr>
       
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Usuń</th>
            
        </tr>
        <tr ng-repeat="author in book.authors">
            <td>{{ author.firstName }}</td>
            <td>{{ author.lastName}}</td>
            <td>
                <button ng-click="deleteAuthor(author)">Usuń</button>
            </td>
            
        </tr>
        
    </table>
   
<br>
<button class="btn btn-primary btn-sm" ng-click="addAuthor()">AddAuthor</button>
		
</form>
	</section>



</body>
</html>


