<div>
    <form name="EditForm" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Edycja:</h3>
        </div>
        <div class="modal-body">
            
            <section>
		<div flash-message="5000"></div>
		<label>Zmień tytuł:</label>
		 <input type="text" placeholder="tytuł" name="title" class="form-control" data-ng-model="title" data-ng-required="true">

<br>
<br>
	</section>
        </div>
        <div class="modal-footer">
         	<button class="btn btn-success" ng-click="ok()" >Save title</button>
<button class="btn btn-warning" ng-click="cancel()">Close</button> 
        </div>
    </form>
</div>


